In [26]:
import pandas as pd

In [27]:
df_krx = pd.read_excel(io='../datasets/krxdata.xlsx')
df_krx

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        종목코드     종목명  시작일 기준가  종료일 종가   대비    등락률       거래량         거래대금
0     060310      3S     1945    1905  -40  -2.06   3328125   6034224352
1     095570  AJ네트웍스     4680    4635  -45  -0.96    729114   3322326935
2     006840   AK홀딩스    11240   10910 -330  -2.94     45518    495917750
3     054620     APS     5800    5610 -190  -3.28    232103   1262092820
4     265520   AP시스템    15900   15600 -300  -1.89    782819  11936312920
...      ...     ...      ...     ...  ...    ...       ...          ...
2849  000540    흥국화재     3325    3260  -65  -1.95    363611   1136172545
2850  000545   흥국화재우     4690    4705   15   0.32     29753    140563110
2851  003280    흥아해운     1690    1606  -84  -4.97  10093052  15788320206
2852  037440      희림     5560    4970 -590 -10.61   3223615  15536294030
2853  238490      힘스     3680    3540 -140  -3.80    193165    656518125

[2854 rows x 8 columns]

In [28]:
df_krx_kospi = pd.read_excel(io='../datasets/krxKospiData.xlsx')
df_krx_kospi

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       종목코드      종목명  시작일 기준가  종료일 종가    대비   등락률       거래량          거래대금
0    095570   AJ네트웍스     4680    4635   -45 -0.96    729114    3322326935
1    006840    AK홀딩스    11240   10910  -330 -2.94     45518     495917750
2    027410      BGF     3625    3555   -70 -1.93    479207    1671886275
3    282330   BGF리테일   109200  102200 -7000 -6.41    482728   48944055690
4    138930  BNK금융지주    11880   11130  -750 -6.31  13637995  151870978678
..      ...      ...      ...     ...   ...   ...       ...           ...
954  079980      휴비스     2675    2685    10  0.37    300327     764386505
955  005010      휴스틸     4000    3850  -150 -3.75   2076242    7747767905
956  000540     흥국화재     3325    3260   -65 -1.95    363611    1136172545
957  000545    흥국화재우     4690    4705    15  0.32     29753     140563110
958  003280     흥아해운     1690    1606   -84 -4.97  10093152   15788480806

[959 rows x 8 columns]

In [29]:
df_krx_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     959 non-null    object
 1   종목명      959 non-null    object
 2   시작일 기준가  959 non-null    int64
 3   종료일 종가   959 non-null    int64
 4   대비       959 non-null    int64
 5   등락률      959 non-null    float64
 6   거래량      959 non-null    int64
 7   거래대금     959 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 60.1+ KB

In [30]:
# 0부터 시작하는 인덱스로 1,3,5,6번째 칼럼 선택
# 1,3,5,6번째 칼럼만 선택하여 새로운 변수에 저장
krx_kospi = pd.read_excel(io='../datasets/krxKospiData.xlsx', usecols=[1,3,5,6])
krx_kospi

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

         종목명  종료일 종가   등락률       거래량
0     AJ네트웍스    4635 -0.96    729114
1      AK홀딩스   10910 -2.94     45518
2        BGF    3555 -1.93    479207
3     BGF리테일  102200 -6.41    482728
4    BNK금융지주   11130 -6.31  13637995
..       ...     ...   ...       ...
954      휴비스    2685  0.37    300327
955      휴스틸    3850 -3.75   2076242
956     흥국화재    3260 -1.95    363611
957    흥국화재우    4705  0.32     29753
958     흥아해운    1606 -4.97  10093152

[959 rows x 4 columns]

In [31]:
krx_kospi.describe()

             종료일 종가         등락률           거래량
count  9.590000e+02  959.000000  9.590000e+02
mean   3.540895e+04    0.375026  4.468861e+06
std    8.293976e+04   14.884422  1.878555e+07
min    1.480000e+02  -34.930000  0.000000e+00
25%    3.480000e+03   -3.995000  1.562485e+05
50%    9.980000e+03   -0.970000  6.167210e+05
75%    3.197500e+04    1.350000  2.058323e+06
max    1.361000e+06  262.040000  3.303400e+08

In [32]:
krx_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     959 non-null    object
 1   종료일 종가  959 non-null    int64
 2   등락률     959 non-null    float64
 3   거래량     959 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [33]:
krx_kospi.describe(include='object')

         종목명
count    959
unique   959
top     흥아해운
freq       1

In [34]:
krx_kospi.describe(include='all')

         종목명        종료일 종가         등락률           거래량
count    959  9.590000e+02  959.000000  9.590000e+02
unique   959           NaN         NaN           NaN
top     흥아해운           NaN         NaN           NaN
freq       1           NaN         NaN           NaN
mean     NaN  3.540895e+04    0.375026  4.468861e+06
std      NaN  8.293976e+04   14.884422  1.878555e+07
min      NaN  1.480000e+02  -34.930000  0.000000e+00
25%      NaN  3.480000e+03   -3.995000  1.562485e+05
50%      NaN  9.980000e+03   -0.970000  6.167210e+05
75%      NaN  3.197500e+04    1.350000  2.058323e+06
max      NaN  1.361000e+06  262.040000  3.303400e+08