In [17]:
import pandas as pd

In [18]:
df_krx = pd.read_excel(io='../datasets/krxdata.xlsx')
df_krx

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        종목코드     종목명  시작일 기준가  종료일 종가   대비    등락률       거래량         거래대금
0     060310      3S     1945    1905  -40  -2.06   3328125   6034224352
1     095570  AJ네트웍스     4680    4635  -45  -0.96    729114   3322326935
2     006840   AK홀딩스    11240   10910 -330  -2.94     45518    495917750
3     054620     APS     5800    5610 -190  -3.28    232103   1262092820
4     265520   AP시스템    15900   15600 -300  -1.89    782819  11936312920
...      ...     ...      ...     ...  ...    ...       ...          ...
2849  000540    흥국화재     3325    3260  -65  -1.95    363611   1136172545
2850  000545   흥국화재우     4690    4705   15   0.32     29753    140563110
2851  003280    흥아해운     1690    1606  -84  -4.97  10093052  15788320206
2852  037440      희림     5560    4970 -590 -10.61   3223615  15536294030
2853  238490      힘스     3680    3540 -140  -3.80    193165    656518125

[2854 rows x 8 columns]

In [19]:
df_krx_kospi = pd.read_excel(io='../datasets/krxdata.xlsx')
df_krx_kospi

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        종목코드     종목명  시작일 기준가  종료일 종가   대비    등락률       거래량         거래대금
0     060310      3S     1945    1905  -40  -2.06   3328125   6034224352
1     095570  AJ네트웍스     4680    4635  -45  -0.96    729114   3322326935
2     006840   AK홀딩스    11240   10910 -330  -2.94     45518    495917750
3     054620     APS     5800    5610 -190  -3.28    232103   1262092820
4     265520   AP시스템    15900   15600 -300  -1.89    782819  11936312920
...      ...     ...      ...     ...  ...    ...       ...          ...
2849  000540    흥국화재     3325    3260  -65  -1.95    363611   1136172545
2850  000545   흥국화재우     4690    4705   15   0.32     29753    140563110
2851  003280    흥아해운     1690    1606  -84  -4.97  10093052  15788320206
2852  037440      희림     5560    4970 -590 -10.61   3223615  15536294030
2853  238490      힘스     3680    3540 -140  -3.80    193165    656518125

[2854 rows x 8 columns]

In [20]:
df_krx_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2854 entries, 0 to 2853
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     2854 non-null   object
 1   종목명      2854 non-null   object
 2   시작일 기준가  2854 non-null   int64
 3   종료일 종가   2854 non-null   int64
 4   대비       2854 non-null   int64
 5   등락률      2854 non-null   float64
 6   거래량      2854 non-null   int64
 7   거래대금     2854 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 178.5+ KB

In [21]:
# 0부터 시작하는 인덱스로 1,3,5,6번째 칼럼 선택
# 1,3,5,6번째 칼럼만 선택하여 새로운 변수에 저장
krx_kospi = pd.read_excel(io='../datasets/krxdata.xlsx', usecols=[1,3,5,6])
krx_kospi

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

         종목명  종료일 종가    등락률       거래량
0         3S    1905  -2.06   3328125
1     AJ네트웍스    4635  -0.96    729114
2      AK홀딩스   10910  -2.94     45518
3        APS    5610  -3.28    232103
4      AP시스템   15600  -1.89    782819
...      ...     ...    ...       ...
2849    흥국화재    3260  -1.95    363611
2850   흥국화재우    4705   0.32     29753
2851    흥아해운    1606  -4.97  10093052
2852      희림    4970 -10.61   3223615
2853      힘스    3540  -3.80    193165

[2854 rows x 4 columns]

In [22]:
krx_kospi.describe()

             종료일 종가          등락률           거래량
count  2.854000e+03  2854.000000  2.854000e+03
mean   1.763780e+04     0.389492  3.696084e+06
std    5.187856e+04    16.294094  1.386057e+07
min    6.100000e+01   -73.860000  0.000000e+00
25%    2.100000e+03    -4.675000  1.696190e+05
50%    4.955000e+03    -1.170000  6.447225e+05
75%    1.308500e+04     1.520000  2.019391e+06
max    1.361000e+06   380.990000  3.302907e+08

In [23]:
krx_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2854 entries, 0 to 2853
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     2854 non-null   object
 1   종료일 종가  2854 non-null   int64
 2   등락률     2854 non-null   float64
 3   거래량     2854 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 89.3+ KB

In [24]:
krx_kospi.describe(include='object')

         종목명
count   2854
unique  2854
top       힘스
freq       1

In [25]:
krx_kospi.describe(include='all')

         종목명        종료일 종가          등락률           거래량
count   2854  2.854000e+03  2854.000000  2.854000e+03
unique  2854           NaN          NaN           NaN
top       힘스           NaN          NaN           NaN
freq       1           NaN          NaN           NaN
mean     NaN  1.763780e+04     0.389492  3.696084e+06
std      NaN  5.187856e+04    16.294094  1.386057e+07
min      NaN  6.100000e+01   -73.860000  0.000000e+00
25%      NaN  2.100000e+03    -4.675000  1.696190e+05
50%      NaN  4.955000e+03    -1.170000  6.447225e+05
75%      NaN  1.308500e+04     1.520000  2.019391e+06
max      NaN  1.361000e+06   380.990000  3.302907e+08