In [2]:
import pandas as pd

In [3]:
data = {
    '종목코드': ['60310', '95570', '6840', '54620'],
    '종목명': ['3S', 'AJ네트웍스', 'AK홀딩스', 'APS'],
    '시작일 기준가': [1890, 4600, 11200, 5660],
    '종료일 종가': [1941, 4745, 11070, 5700],
    '대비': [51, 145, -130, 40],
    '등락률': [2.7, 3.15, -1.16, 0.71],
    '거래량': [3092688, 1046201, 55481, 208525],
    '거래대금': [5595723413, 4806955935, 604085850, 1129272070]
}

df_components = pd.DataFrame(data)
df_components

    종목코드     종목명  시작일 기준가  종료일 종가   대비   등락률      거래량        거래대금
0  60310      3S     1890    1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스     4600    4745  145  3.15  1046201  4806955935
2   6840   AK홀딩스    11200   11070 -130 -1.16    55481   604085850
3  54620     APS     5660    5700   40  0.71   208525  1129272070

In [4]:
# 2.1
sum = df_components['대비'].sum()
sum

106

In [5]:
#2.2
new_df = df_components.set_index('종목코드')[['종목명', '등락률']]
new_df

          종목명   등락률
종목코드
60310      3S  2.70
95570  AJ네트웍스  3.15
6840    AK홀딩스 -1.16
54620     APS  0.71

In [6]:
#2.3
mean = df_components['등락률'].mean()
mean

1.3499999999999999

In [7]:
#3.1
# df_components.where(df_components['등락률'] > 0)
plus = df_components[df_components['등락률'] > 0]
print(plus)

    종목코드     종목명  시작일 기준가  종료일 종가   대비   등락률      거래량        거래대금
0  60310      3S     1890    1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스     4600    4745  145  3.15  1046201  4806955935
3  54620     APS     5660    5700   40  0.71   208525  1129272070

In [8]:
#3.2
bil = df_components.where(df_components['거래대금'] > 1000000000)
bil

    종목코드     종목명  시작일 기준가  종료일 종가     대비   등락률        거래량          거래대금
0  60310      3S   1890.0  1941.0   51.0  2.70  3092688.0  5.595723e+09
1  95570  AJ네트웍스   4600.0  4745.0  145.0  3.15  1046201.0  4.806956e+09
2    NaN     NaN      NaN     NaN    NaN   NaN        NaN           NaN
3  54620     APS   5660.0  5700.0   40.0  0.71   208525.0  1.129272e+09

In [9]:
#4.1
# sorted_volume = df_components['거래량'].sort_values(ascending=False)
# '거래량'을 기준으로 내림차순 정렬하고, 데이터프레임 전체를 정렬

sorted_volume = df_components.sort_values(by='거래량', ascending=False)


sorted_volume

    종목코드     종목명  시작일 기준가  종료일 종가   대비   등락률      거래량        거래대금
0  60310      3S     1890    1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스     4600    4745  145  3.15  1046201  4806955935
3  54620     APS     5660    5700   40  0.71   208525  1129272070
2   6840   AK홀딩스    11200   11070 -130 -1.16    55481   604085850

In [10]:
#4.2
# sorted_vol = df_components['등락율'].sort_values(ascending=True)
# sorted_vol = df_components['등락률'].sort_values(ascending=True)
sorted_vola = df_components.sort_values(by='등락률', ascending=True)

sorted_vola

    종목코드     종목명  시작일 기준가  종료일 종가   대비   등락률      거래량        거래대금
2   6840   AK홀딩스    11200   11070 -130 -1.16    55481   604085850
3  54620     APS     5660    5700   40  0.71   208525  1129272070
0  60310      3S     1890    1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스     4600    4745  145  3.15  1046201  4806955935

In [11]:
# 5.1
# 기존 열을 이용해 새로운 열 추가
df_components['수익률'] = (df_components['종료일 종가'] - df_components['시작일 기준가']) / df_components['시작일 기준가'] * 100
df_components

    종목코드     종목명  시작일 기준가  종료일 종가   대비   등락률      거래량        거래대금       수익률
0  60310      3S     1890    1941   51  2.70  3092688  5595723413  2.698413
1  95570  AJ네트웍스     4600    4745  145  3.15  1046201  4806955935  3.152174
2   6840   AK홀딩스    11200   11070 -130 -1.16    55481   604085850 -1.160714
3  54620     APS     5660    5700   40  0.71   208525  1129272070  0.706714

In [ ]:
#5.2
df_components['거래량 대비 거래대금'] = df_components['거래대금']  / df_components['거래량']
df_components